<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">
  <!-- logo -->
  <h1 class="w-3/12">
      <a href="">
        <img src="../../../assets/logo.png" alt="" style="height: 100px;">
      </a>
  </h1>

  <!-- navigation -->
  <nav class="nav font-semibold text-lg">
      <ul class="flex items-center">
          <li class="p-4 border-b-2 border-blue-500 border-opacity-0 hover:border-opacity-100 hover:text-blue-500 duration-200 cursor-pointer active">
            <a href="">Home</a>
          </li>
          <li class="p-4 border-b-2 border-blue-500 border-opacity-0 hover:border-opacity-100 hover:text-blue-500 duration-200 cursor-pointer">
            <a href="/offers">Freelance jobs</a>
          </li>
          
      </ul>

  </nav>
<!-- buttons -->
<ng-container *ngIf="isLoggedIn(); else loginButtons">
  <!-- Logout button -->
  <button class="mx-3 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition duration-200" (click)="logout()">Logout</button>
</ng-container>
<ng-template #loginButtons>
  <div>
    <a href="/register" class="mx-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200">Register</a>
    <!-- Login button -->
    <a href="/login" class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition duration-200">Login</a>
  </div>
  <!-- Register button -->
  
</ng-template>

  
</header>
