<div class="min-h-screen bg-gray-100 p-0 sm:p-12 relative">
    <div class="flex items-center justify-center my-4 z-50">
        <button class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-4 px-6 rounded-full shadow-md"
            (click)="togglePopup()">
            +
        </button>

        <app-education-institute-popup *ngIf="isPopUpVisible" (closePopup)="togglePopup()"></app-education-institute-popup>
    </div>

    <table class="border-collapse w-full my-16">
        <thead>
            <tr>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">id</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Address</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Name</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Postal Code</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let institute of educationInstitutes"
                class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    {{ institute.id }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    {{ institute.address }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    {{ institute.name }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    {{ institute.postalCode }}
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    <a class="text-blue-400 hover:text-blue-600 underline">Edit</a>
                    <a  class="text-blue-400 hover:text-blue-600 underline pl-6"
                        (click)="deleteEducationInstitute(institute.name)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
